

mercurium.online {

    handle /.well-known/acme-challenge/* {
        root * /var/www/caddy/acme-challenges
        file_server
    }

    handle_path /auth/* {
        reverse_proxy auth-service:3000
    }

    handle_path /auth {
        reverse_proxy auth-service:3000
    }

    handle_path /app {
        reverse_proxy app-service:8000
    }

    handle /* {
        reverse_proxy app-service:8000
    }
}
