
mercurium.com {
    handle /.well-known/acme-challenge/* {
        root * /var/lib/caddy
        file_server
    }

    handle / {
        redir /app 301
    }

    handle /auth/* {
        reverse_proxy auth-service:3000
    }

    handle /app/* {
        reverse_proxy app-service:8000
    }

}
